<h1>Add</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Product name</label>
    <span class="helper-text" data-error="Type product name">Helper text</span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" min="1" required>
    <label for="price">Price</label>
    <span class="helper-text" data-error="Type number">Helper text</span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required>
    <label for="img">Image url</label>
    <span class="helper-text" data-error="Type image url">Helper text</span>
  </div>

  <button class="btn btn-primary">Add product</button>
</form>